# Sanal Ortam Klasörleri
venv/
*/venv/
.venv/
*/.venv/
env/
*/env/
.env/
*/.env/
env.bak/
venv.bak/

# Node.js Bağımlılıkları
node_modules/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE ve Editör Dosyaları (Örnekler)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Diğerleri (İhtiyaca göre eklenebilir)
# Örneğin: log dosyaları, build çıktıları vb.
# *.log
# build/
# dist/